img {
  position: absolute;
  top: 140px;
  transform: perspective(50px) translate(417px) scale(0.20);
  transform-origin: top;
  visibility: hidden;
}

div {
  position: relative;
  height: 950px;
  width: 985px;
  transform: rotate(-2deg) scale(0.69);
  margin-top: -120px;

}

#count{
	visibility: hidden;
}



.i1{
     width: 60%; 
     margin-left: 220px;
     margin-top: 80px;
}

.i2{
     width: 60%; 
     margin-left: -380px;
     margin-top: 80px;
}